.titleBox{
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: 455px;
    margin: 0px auto ;
}
.title{
    font-family: Galano Grotesque;
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    color: #fff;
}
.titlepart{
    color: #FFC700;

}
.homeText{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #fff;
}
.homeTextPart{
   color: #FFC700;
   font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

}