.headerBg {
  width: 100%;
  background: linear-gradient(
    270deg,
    rgba(217, 217, 217, 0.8) 0%,
    #83d83f 21.44%,
    #761e78 78.28%,
    rgba(217, 217, 217, 0.8) 100%
  );
  color: #fff;
}
.menu{
background-color: #fff;
text-align: center;
right: 0 !important;
left: auto !important;
}

.item {
  color: #828282 !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

}
.item:hover {
  color: #FFC700 !important;
  background-color: #fff;
}
.Dropdown button{
  background-color: transparent !important;
  border: none;
}
.Dropdown button::after{
  display: none;
}
.border{
  padding: 10px 26px;
  border: 1px solid #fff !important;
  border-radius: 25px;
}
.border img:nth-child(2){
  display: none;
}
