.headerBg {
  width: 100%;
  background: linear-gradient(
    270deg,
    rgba(217, 217, 217, 0.8) 0%,
    #83d83f 21.44%,
    #761e78 78.28%,
    rgba(217, 217, 217, 0.8) 100%
  );
  color: #fff;
}

.navLink {
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 12px;

}
.navLink:hover {
  color: #761e78 !important;
}
